﻿.field {
    display: flex;
    width: 100%;
    justify-content: center;
}
.left_side {
    width: 360px;
    height: 100%;
}
.right_side {
	margin-left: 20px;
	margin-right: 20px;
    width: 702px;
    height: 590px;
    background: #FFFFFF;
    border-radius: 10px;
}
.addText {
    width: 100%;
    height: 45px;
    margin-top: 520px;
    padding-right: 20px;
    padding-left: 20px;
}
.addText input {
    width: 65%;
    height: 45px;
    padding: 0 20px;
    line-height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(51, 51, 51, 0.7);
    box-sizing: border-box;
    border-radius: 45px;
    outline: none;
}
.entBtn {
    float: right;
    width: 106px;
    height: 45px;
    background: #F8626D;
    border-radius: 45px;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 12px;
    text-align: center;
}
.left_side {
    margin-left: 20px;
}
@media (min-width: 1200px) {
    nav.main_menu {
        display: flex;
        margin-left: 133px;
        margin-right: 133px;
    }
/*--- main--- */

  .content_field{

	width: 655px;
	height: 174px;
	left: 63px;
	top: 254px;
}
.content_text h2{
	font-style: normal;
	font-weight: 550;
	font-size: 38px;
	line-height: 58px;
}
}
/* 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	/*--- main--- */


.content_field{
 	margin-left: auto;
 	margin-right: auto;
	position: relative;
	width: 800px;
	height: 174px;
	top: 380px;
}
.content_text h2{
	font-style: normal;
	font-weight: 600;
	font-size: 52px;
	line-height: 64px;
	color:#FFF;
}

.btns{
	width: 800px;
	margin-top:49px;
}

.btnEntr{
	display: inline-block;
  	width: 200px;
 	height: 60px;
  	text-align: center;
  	border: none;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #fff;
  	cursor: pointer;
 	background: #F8626D;
	border-radius: 45px;

}

.btnReg{
	display: inline-block;
  	width: 274px;
 	height: 60px;
  	text-align: center;
  	border: none;
	left: 50px;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #fff;
  	cursor: pointer;
	border-radius: 45px;

	border: 2px solid #FFFFFF;
	box-sizing: border-box;

}



.menu{
	width: 100%;
	height: 50px;
	margin-top: 74px;
}

.main_menu ul {
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-left: 0;
    list-style: none;
}

.main_menu ul li {
  display: inline;
}

.main_menu ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 15px 0 5px;
}

.main_menu ul li a:hover {
  color: #Fff;
  text-decoration: none;
}
.btnEx{
	display: inline-block;
  	width: 160px;
 	height: 50px;
  	text-align: center;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #Fff;
  	cursor: pointer;
	border: 2px solid #Fff;
	box-sizing: border-box;
	border-radius: 45px;
	float: right;
  	margin-right:0;

}
.btnEx:hover  {
  color: #Fff;
  text-decoration:none;
}
.active{
	width: 157px;
	height: 50px;
	background: #F8626D;
	border-radius: 45px;
	text-align: center;
}





}
/* 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	/*--- main--- */

 .content_field{
 	margin-left: auto;
 	margin-right: auto;
	position: relative;
	width: 655px;
	height: 174px;
	top: 380px;
}
.content_text h2{
	font-style: normal;
	font-weight: 600;
	font-size: 42px;
	line-height: 58px;
	color:#FFF;
}

.btns{
	width: 500px;
	margin-top:49px;
}

.btnEntr{
	display: inline-block;
  	width: 182px;
 	height: 50px;
  	text-align: center;
  	border: none;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #fff;
  	cursor: pointer;
 	background: #F8626D;
	border-radius: 45px;

}

.btnReg{
	display: inline-block;
  	width: 254px;
 	height: 50px;
  	text-align: center;
  	border: none;
	left: 50px;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #fff;
  	cursor: pointer;
	border-radius: 45px;

	border: 2px solid #FFFFFF;
	box-sizing: border-box;

}
nav.main_menu {
    display: flex;
	margin-left: 20px;
    margin-right: 20px;
}
}
/* 480px. */

@media only screen and (max-width: 767px) {
/*---LK---*/
.field {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.left_side {
    width: 360px;
    height: 100%;
    padding-bottom: 20px;
}
.right_side {
    max-width: 100%;
    height: 590px;
    background: #FFFFFF;
    border-radius: 10px;
}
.addText input {
    max-width: 502px;
    height: 45px;
    padding: 0 20px;
    line-height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(51, 51, 51, 0.7);
    box-sizing: border-box;
    border-radius: 45px;
    outline: none;

}
.entBtn {
    float: right;
    width: 71px;
    background: #F8626D;
    border-radius: 14px;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 12px;
    text-align: center;
}
.addText {
    width: 100%;
    height: 45px;
    margin-top: 520px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
	justify-content: space-around;
}
.footer {
    width: 100%;
    height: 60px;
    margin-top: 100px;
}
	/*--- main--- */
.content_field{
 	margin-left: auto;
 	margin-right: auto;
	position: relative;
	width: 300px;
	height: 174px;
	top: 200px;
	left: 0px;
}
.content_text h2{
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 30px;
	color:#FFF;
}

.btns{
	width: 300px;
	margin-top:49px;
}

.btnEntr{
	display: inline-block;
  	width: 120px;
 	height: 50px;
  	text-align: center;
  	border: none;
  	padding: 10px 10px;
  	font-size: 16px;
  	position: relative;
  	color: #fff;
  	cursor: pointer;
 	background: #F8626D;
	border-radius: 45px;

}
.btnReg{
	display: inline-block;
  	width: 160px;
 	height: 50px;
  	text-align: center;
  	border: none;
	left: 20px;
  	padding: 10px 10px;
  	font-size: 14px;
  	position: relative;
  	color: #fff;
  	cursor: pointer;
	border-radius: 45px;

	border: 2px solid #FFFFFF;
	box-sizing: border-box;

}


/*---registration--- */
.textReg{
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	width: 440px;
	height: 50px;
	border: 2px solid rgba(51, 51, 51, 0.7);
	box-sizing: border-box;
	border-radius: 45px;
}

.decor {
  position: relative;
  width: 250px;
  margin: 30px auto 0;
  background: white;
  border-radius: 30px;
}
.form-inner {
	padding: 10px;
}
.form-inner input {
	margin-right: auto;
	margin-left: auto;
  width: 220px;
  height: 35px;
  padding: 0 20px;
  margin-bottom: 30px;
  line-height: 40px;
  border-radius: 20px;
  border: 2px solid rgba(51, 51, 51, 0.7);
  box-sizing: border-box;
  border-radius: 45px;
  outline:none;

}

.form-inner h1 {
 	text-align: center;
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 40px;
	color: #333333;
	margin-bottom: 30px;
}
.btnsRegistr{
	margin-right: auto;
    margin-left: auto;
    width: 220px;
    height: 50px;
    justify-content: space-between;
    display: flex;
    top: 49px;

}
.btnRegDark{
	display: inline-block;
  	width: 130px;
  	margin-right: 20px;
 	height: 30px;
  	text-align: center;
  	border: none;
  	padding: 6px ;
  	font-size: 12px;
  	position: relative;
  	color: #FFF;
  	cursor: pointer;
	background: #F8626D;
	box-sizing: border-box;
	border-radius: 45px;

}


.btnEntrLight{
	display: inline-block;
  	width: 62px;
 	height: 30px;
  	text-align: center;
  	padding: 5px;
  	font-size: 14px;
  	position: relative;
  	color: #F8626D;
  	cursor: pointer;
 	border: 2px solid #F8626D;
	box-sizing: border-box;
	border-radius: 45px;

}



.btnRegLight{
	display: inline-block;
  	width: 130px;
 	height: 30px;
  	text-align: center;
  	padding: 6px;
  	font-size: 12px;
  	position: relative;
  	color: #F8626D;
  	cursor: pointer;
	border: 2px solid #F8626D;
	box-sizing: border-box;
	border-radius: 45px;

}

.btnEntrDark{
	display: inline-block;
  	width: 72px;
 	height: 30px;
  	text-align: center;
  	padding: 5px;
  	font-size: 14px;
  	position: relative;
  	color: #Fff;
  	cursor: pointer;
 	border: none;
 	background: #F8626D;
	box-sizing: border-box;
	border-radius: 45px;
	margin-right: 10px;

}


/*---Предметы---*/
.container{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: auto;
	margin-top: 20px;
}

.menu{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 50px;
	margin-top: 74px;
}
 .nav-switch {
    display: block;
    float: right;
    color: #333;
    font-size: 25px;
    width: 40px;
    height: 40px;
    background: #F8626D;
    text-align: center;
    padding-top: 2px;
    -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
  }
  .main_menu {
    background: #fff;
    margin-top: 22px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    display: none;
    z-index: 999;
  }
  .main_menu ul li {
    display: block;
  }
  .main_menu ul li a {
    margin-left: 0;
    padding: 17px 25px;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    color: #474747;
  }
  .course-meta-area {
  background: #fff;
  padding: 25px 0px;
  margin-top: 0px;
  border-radius: 10px;
}
.nameCourse h3{

font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;

color: #333333;
}
.nameCourse{

font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

color: #696969;
}

.course-preview {
  padding-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
}
.info{
	margin-top: 10px;
}
.info h4{
	font-size: 10px;
	line-height: 18px;
	color: #333333;
}


.course-meta-area .course-note {

  background: #d82a4e;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 50px 15px;
  margin-bottom: 20px;
}

.course-metas {
  padding-top: 25px;
  margin-bottom: 25px;

}

.info .ca-pic {
	margin-top:20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  float: left;
}
.course-author{
	margin-left: 100px;
}
.course-author h5{

	margin-top: 40px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
}
.priceBtns{
	margin-left: 75px;
	margin-top: 20px;
	max-width: 500px;
}
.price_btn {
	display: inline-block;
	width: 132px;
	height: 44px;
  padding: 15px;
  margin-right: 10px;
  background: rgba(255, 217, 96, 0.95);
	border-radius: 45px;
	text-align: center;
	font-weight: 500;
font-size: 15px;
line-height: 19px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}
 .buy_btn {

 	display: inline-block;
 	position: relative;
  padding: 15px;
  width: 205px;
height: 44px;
background: #F8626D;
border-radius: 45px;
text-align: center;
font-weight: 500;
font-size: 15px;
line-height: 19px;
color: #FFFFFF;
}
.buy_btn:hover{
	text-decoration: none;
	color: #fff;

}
.left_side{
	margin:0px;

}


}



f
