
﻿/* Preloder */

  .course-thumb {
    background-image: url(https://i.ibb.co/qB48P2j/1.png%22%3E);
}



#preloder {

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

.text_white{
	color:#FFFFFF;
}
.text_pink{
	color: #F8626D;
}
















.header_field{
	width: 100%;
	height: 100px
}
nav.main_menu {
    display: flex;
	margin-left: 133px;
    margin-right: 133px;
}
.menu{
	width: 100%;
	height: 50px;
	margin-top: 74px;
}

.main_menu ul {
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-left: 0;
    list-style: none;
}

.main_menu ul li {
  display: inline;
}

.main_menu ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 15px 0 5px;
}

.main_menu ul li a:hover {
  color: #Fff;
  text-decoration: none;
}
.btnEx{
	display: inline-block;
  	width: 160px;
 	height: 50px;
  	text-align: center;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #Fff;
  	cursor: pointer;
	border: 2px solid #Fff;
	box-sizing: border-box;
	border-radius: 45px;
	float: right;
  	margin-right:0;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
}
.btnEx:hover  {
  color: #Fff;
  text-decoration:none;
}
.active{
	width: 157px;
	height: 50px;
	background: #F8626D;
	border-radius: 45px;
	text-align: center;
}

.nav-switch {
  display: none;
}

/*------- main -------*/

.content_field{
	position: absolute;
	width: 655px;
	height: 174px;
	left: 113px;
	top: 180px;
}
.content_text h2{
	font-style: normal;
	font-weight: 600;
	font-size: 42px;
	line-height: 58px;
}

.btns{
	width: 500px;
	margin-top:49px;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
}

.btnEntr{
	display: inline-block;
  	width: 182px;
 	height: 50px;
  	text-align: center;
  	border: none;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #fff;
  	cursor: pointer;
 	background: #F8626D;
	border-radius: 45px;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
}

.btnReg{
	display: inline-block;
  	width: 254px;
 	height: 50px;
  	text-align: center;
  	border: none;
	left: 50px;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #fff;
  	cursor: pointer;
	border-radius: 45px;

	border: 2px solid #FFFFFF;
	box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
}
.btnReg:hover  {
  color: #fff;
  text-decoration:none;
}
.btnEntr:hover{
	color: #fff;
	text-decoration:none;
}



/*---Регистрация---*/



.textReg{
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	width: 440px;
	height: 50px;
	border: 2px solid rgba(51, 51, 51, 0.7);
	box-sizing: border-box;
	border-radius: 45px;
}


* {box-sizing: border-box;}
body {
    background:url('../img/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.decor {
  position: relative;
  max-width: 561px;
  margin: 50px auto 0;
  background: white;
  border-radius: 30px;
}
.form-inner {padding: 50px;
	text-align:center;
}
.form-inner input {
	position: relative;
	margin-right: auto;
	margin-left: auto;

  width: 441px;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 30px;
  line-height: 40px;
  border-radius: 20px;
  border: 2px solid rgba(51, 51, 51, 0.7);
  box-sizing: border-box;
  border-radius: 45px;
  outline:none;

}


.form-inner h1 {
 	text-align: center;
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 48px;
	color: #333333;
	margin-bottom: 30px;
}
.btnsRegistr{
	margin-right: auto;
	margin-left: auto;
  	width: 441px;
 	height: 50px;
	top: 49px;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;

}
.btnRegDark{
	display: inline-block;
  	width: 234px;
  	margin-right: 20px;
 	height: 50px;
  	text-align: center;
  	border: none;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #FFF;
  	cursor: pointer;
	background: #F8626D;
	box-sizing: border-box;
	border-radius: 45px;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;

}
.btnRegDark:hover  {
  color: #fff;
  text-decoration:none;
}


.btnEntrLight{
	display: inline-block;
  	width: 182px;
 	height: 50px;
  	text-align: center;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #F8626D;
  	cursor: pointer;
 	border: 2px solid #F8626D;
	box-sizing: border-box;
	border-radius: 45px;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;

}
.btnEntrLight:hover  {
  color: #F8626D;
  text-decoration:none;
}



/*---Вход---*/

.btnRegLight{
	display: inline-block;
  	width: 234px;
 	height: 50px;
  	text-align: center;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #F8626D;
  	cursor: pointer;
	border: 2px solid #F8626D;
	box-sizing: border-box;
	border-radius: 45px;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;

}
.btnRegLight:hover  {
  color: #F8626D;
  text-decoration:none;
}


.btnEntrDark{
	display: inline-block;
  	width: 182px;
 	height: 50px;
  	text-align: center;
  	padding: 10px 10px;
  	font-size: 20px;
  	position: relative;
  	color: #Fff;
  	cursor: pointer;
 	border: none;
 	background: #F8626D;
	box-sizing: border-box;
	border-radius: 45px;
	margin-right: 20px;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;

}
.btnEntrDark:hover  {
  color: #Fff;
  text-decoration:none;
}


/*---Предметы---*/
.container{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	height: auto;
	margin-top: 20px;
}
.subj{
	height: 200px;
	top: 0px;

}
.subj_area {

  padding: 15px 0;
  margin-top: 0px;

}
.course_subj .course_name {

  height: 200px;

}
.course_subj .course_name .course-text {
  padding: 45px 33px 25px;
}

.course_subj .course_name .course-text h5 {
  text-align: center;
  margin-bottom: 5px;
  color: #333333;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
}

.course_subj {
  margin-bottom: 30px;
  border-radius: 10px;
}
.posBtn{
	margin-right: auto;
	margin-left: auto;
	width: 181px;
	height: 44px;
}
.btnCourses{

	display: inline-block;
  	width: 181px;
	height: 44px;
  	text-align: center;
  	border: none;
	top: 19px;
  	padding: 10px 10px;
  	font-size: 15px;
  	position: relative;
  	color: #fff;
  	cursor: pointer;
 	background: #F8626D;
	border-radius: 45px;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;

}
.btnCourses:hover{
	color: #fff;
	text-decoration:none;
}




/*---Курсы---*/
.course-warp {
	margin-left: auto;
	margin-right: auto;
  max-width: 1100px;
  padding: 0 15px;
  margin-top: 0px;
}


.course_subj .course-thumb {
  	width: 260px;
	height: 207px;
	border-radius: 10px 10px 0px 0px;
}

.course_subj .course-info {
  background: #fff;
  width: 260px;
  border-radius: 0px 0px 10px 10px;
}

.course_subj .course-info .course-text {
  padding: 15px 15px 15px;
}

.course_subj .course-info .course-text h3 {
  	margin-bottom: 5px;
  	font-size: 26px;
	line-height: 33px;
	color: #333333;
}

.course_subj .course-info .course-text h4 {
 	font-size: 15px;
 	line-height: 19px;
 	color: #696969;
}
.course_subj .course-info .course-text h5 {

	font-size: 14px;
	line-height: 17px;
	color: #333333;
}
.blockh5{
	margin-top: 20px;
}

.course_subj .course-info .course-author {
  border-top: 1px solid #d4dee1;
  padding: 15px 15px;
  overflow: hidden;

}


.course_subj .course-info .course-author p {
	margin-left: 70px;
  font-weight: 500;
  font-size: 18px;
}
.photo{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	float: left;
}










/*---О курсе---*/

.course-meta-area {
  background: #fff;
  padding: 25px 0px;
  margin-top: 0px;
  border-radius: 10px;
}
.nameCourse h3{

font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 45px;
/* identical to box height */
color: #333333;
}
.nameCourse{
	font-family: DIN Pro;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;

color: #696969;
}

.course-preview {
  padding-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 307px;
}
.info{
	margin-top: 10px;
}
.info h4{
	font-size: 26px;
	line-height: 33px;
	color: #333333;
}


.course-meta-area .course-note {

  background: #d82a4e;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 50px 15px;
  margin-bottom: 20px;
}

.course-metas {
  padding-top: 25px;
  margin-bottom: 25px;

}

.info .ca-pic {
	margin-top:20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  float: left;
}
.course-author h5{

	margin-top: 40px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
}




.priceBtns{
	margin-left: 75px;
	margin-top: 20px;
	max-width: 500px;

}
.course-author {
    margin-left: 103px;
}
.info p {
    text-align: justify;
}





.price_btn {
	display: inline-block;
	width: 132px;
	height: 44px;
  padding: 15px;
  margin-right: 10px;
  background: rgba(255, 217, 96, 0.95);
	border-radius: 45px;
	text-align: center;
	font-weight: 500;
font-size: 15px;
line-height: 19px;
/* identical to box height */

text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
color: #FFFFFF;
}
 .buy_btn {

 	display: inline-block;
 	position: relative;
  padding: 15px;
  width: 205px;
height: 44px;
background: #F8626D;
border-radius: 45px;
text-align: center;
font-weight: 500;
font-size: 15px;
line-height: 19px;
color: #FFFFFF;
     display: flex;
     justify-content: center;
     padding: 0px;
     align-items: center;

}
.buy_btn:hover{
	text-decoration: none;
	color: #fff;

}






/*---ЛКстудент---*/

.field{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;

}
.left_side{
	float: left;
	width: 360px;
	height: 100%;
}
.about_student{

	width: 360px;
	height: 90px;
	background: #FFFFFF;
	border-radius: 20000px;
}
.about_student figure{
	width:90px;
	height: 90px;
}
.photoStudent{

	width:80px;
	height: 80px;
	border-radius: 50%;
	margin-left: 7px;
	margin-top: 5px;

}
.aboutText{
	margin-top: 20px;
	float: right;

	width: 255px;
	height: 60px;
}

.aboutText h1{
	font-weight: bold;
	font-size: 20px;
	color: #333333;

}
.aboutText h2{
	font-weight: 500;
	font-size: 16px;
	color: #696969;
}

.about_course{
	padding-top: 30px;
	width: 357px;
height: 224px;
margin-top: 20px;

background: #FFFFFF;
border-radius: 10px;
}
.name_course{
	width: 100%;
	height: 100px;
	padding-left: 20px;
	padding-right: 20px;

}
.name_course h1{

	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #333333;

}
.item_course{
	float: right;
	margin-top: 7px;
	width: 122px;
	height: 20px;
	background: rgba(255, 217, 96, 0.95);
	border-radius: 45px;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 3px;
}
.name_course h2{
	font-size: 15px;
	line-height: 19px;
	color: #696969;
}
.prep_course{
	width: 100%;
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 15px;
}
.photoPrep{
	width:60px;
	height: 60px;
	border-radius: 50%;
	margin-left: 7px;
	margin-top: 5px;
}
.prepText{
	float: right;
	width: 230px;
	height: 50px;
	margin-top: 10px;
}
.prepText h1{
	font-weight: 500;
font-size: 15px;
line-height: 19px;
color: #333333;
}
.prepText h2{
	font-size: 12px;
line-height: 15px;
color: #696969;
}
.right_side{
	float: right;
	width: 720px;
	height: 590px;
	background: #FFFFFF;
	border-radius: 10px;
}
.addText{
	width: 720px;
	height: 45px;
	margin-top: 520px;
	padding-right: 20px;
	padding-left: 20px;
}
.footer{
	width: 100%;
	height: 60px;
	margin-top: 600px;

}
.addText input {

  width: 502px;
  height: 45px;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(51, 51, 51, 0.7);
box-sizing: border-box;
border-radius: 45px;
outline:none;
}
.entBtn{
	float: right;
	width: 150px;
height: 45px;
background: #F8626D;
border-radius: 45px;
font-weight: 500;
font-size: 15px;
line-height: 19px;
text-transform: uppercase;
color: #FFFFFF;
padding-top:12px;
text-align: center;
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
}
.entBtn:hover{
	text-decoration: none;
	color: #FFFFFF;
}


.about_coursePrep h5{
	font-weight: 500;
font-size: 15px;
line-height: 19px;
color: #333333;
	margin-left:20px;
}

.about_coursePrep{
	padding-top: 30px;
	width: 357px;
	height: 450px;
	margin-top: 20px;
	background: #FFFFFF;
	border-radius: 10px;
}































/*---Адаптивность---*/



